.product {
    width: 300px;
    margin: 20px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    border-color: black;
  }
  
.product-image {
    width: 100%;
}
  
.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
  
.product-description {
    font-size: 14px;
    margin: 10px 0;
}
  
.product-price {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
  
  
.land {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }