*{
  margin: 0px;
}

.header-container {
  clear: both;
}

.header {
  background-color: rgb(209, 11, 11);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 0;
}

.menu {
  background-color: #ccc;
  padding: 10px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  flex-grow: 1;
  text-align: center;
}

.menu-item a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu-item a:active {
  color: rgb(209, 11, 11);
}
